<!DOCTYPE html>
<html>

<head>
    <title>User Authentication Email</title>
</head>

<body>
    <table class="m_7954753092504951265m_3267112779454068960deviceWidth" width="580" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="background: #E8EAF2">
        <tbody style="font-size:14px;font-weight:normal;font-family:helvetica,sans-serif;line-height:24px;color: #858585;">
            <tr>
                <td style="width: 100%;border: 10px solid black ;background: black;height: 100px">
                    <span style="color: white;font-size: 24px">Reset Password Link</span>
                    <img src="https://vishalconstructioncompany.com/static/media/vishal-logo.1dccbda9.png" alt="LOGO" style="float: right ; width: 110px">
                </td>
            </tr>
            <tr>
                <td style="padding:10px 20px 10px 20px">
                    <div style="margin: 20px 0;">
                        <a href="#m_7954753092504951265_m_3267112779454068960_"
                            style="text-decoration:none;color:#5b5b5b;font-size:18px;font-weight:bold;font-family:helvetica,sans-serif">
                            Hi {{name}}!
                        </a>
                    </div>
                    <div>Your login credentials are as follows:</div>
                    <div>Email - {{username}}</div>
                    <div>To reset your password please click the reset password button or click the link given below-</div>
                </td>
            </tr>


            <tr>
                <td style="padding:10px 20px 10px 20px">
                    <div style="margin-top: 20px;margin-bottom: 20px">
                        <u></u>
                        <table cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td style="border-radius:4px;color:#ffffff;display:block;padding:2px 4px 2px 4px"
                                        width="220px" height="40" bgcolor="#f79635" align="center">
                                        <a href="{{authenticationLink}}"
                                            style="font-size:16px;font-weight:bold;font-family:helvetica,sans-serif;text-decoration:none;line-height:40px;width:100%;display:inline-block;height:100%"
                                            target="_blank" data-saferedirecturl={{authenticationLink}}>
                                            <span style="color:#ffffff">
                                                Reset Password
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <u></u>
                    </div>

                    <p style="padding:0px 0px 10px 0px">
                        Button not working? Just click the link below -<br>
                        <a href="{{authenticationLink}}" target="_blank">{{authenticationLink}}</a>
                    </p>
                    <p style="padding:0px 0px 10px 0px">
                        Team DZone India.
                    </p>
                </td>
            </tr>


        </tbody>
    </table>
</body>

</html>