<!DOCTYPE html>
<html>

<head>
    <title>A New Supplier Requested</title>
</head>

<body>
    <table class="m_7954753092504951265m_3267112779454068960deviceWidth" width="580" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="background: #E8EAF2">
        <tbody style="font-size:14px;font-weight:normal;font-family:helvetica,sans-serif;line-height:24px;color: #858585;">
            <tr>
                <td style="width: 100%;border: 10px solid black ;background: black;height: 100px">
                    <span style="color: white;font-size: 24px">New Supplier Requested</span>
                    <img src="https://vishalconstructioncompany.com/static/media/vishal-logo.1dccbda9.png" alt="LOGO" style="float: right ; width: 110px">
                </td>
            </tr>
            <tr>
                <td style="padding:10px 20px 10px 20px">
                    <div>A New Request Received to Become a Supplier</div>
                    
                    <div>Details are as follows:</div>
                    <div>Name - {{name}}</div>
                    <div>Company Name - {{companyName}}</div>
                    <div>Email - {{email}}</div>
                    <div>Mobile - {{mobile}}</div>
                    <div>Location - {{location}}</div>
                    <div>City - {{city}}</div>
                    <div>Message - {{message}}</div>
                    <div>wants to Become a Supplier of - {{supplierOf}}</div>
                    <div>Thanks</div>
                </td>
            </tr>


            <tr>
                <td style="padding:10px 20px 10px 20px">
                    <p style="padding:0px 0px 10px 0px">
                        Team DZone India.
                    </p>
                </td>
            </tr>


        </tbody>
    </table>
</body>

</html>