.btn-readmore:hover {
    background-color: #EF8821;
    color: #FFFFFF;
}
.main-w3 {
    background: url('../../images/banner-2.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}
.main-w3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(98 45 0 / 90%);
    z-index: -1;
}
.client-bg  {
    background: url('../../images//clientbg.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}
.client-bg ::before {
    content: '';
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 0;
    left: 0;
    background: rgb(98 45 0 / 90%);
    z-index: -1;
}

#search-box{
    position: absolute;
    z-index: 100;
    height: 90%;
    width: 100%;
}
#search-box #search-continer{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 62px;
    margin: 0 auto;
    border-radius: 32px;
    box-shadow: 0 3px 12px -9px rgb(0 0 0 / 40%);
    border: 1px solid #909090;
    background-color: #fff;

}

.home-banner .owl-theme .owl-nav.disabled + .owl-dots {
    position: relative!important;
    /* margin-top: 10px; */
    top: -30px!important;
    margin-bottom: -30px!important;
}