.panel-primary {
   border-color: #337ab7;
}
.panel {
   margin-bottom: 20px;
   background-color: #fff;
   border: 1px solid transparent;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
   box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-primary>.panel-heading {
   color: #fff;
   background-color: #337ab7;
   border-color: #337ab7;
}
.panel-heading {
   padding: 10px 15px;
   border-bottom: 1px solid transparent;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}
.panel-body {
   padding: 15px;
   border: 1px solid transparent;
   border-color: #337ab7;
}
.form {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
}
form.makeStyles-root-8 {
   align-items: center;
   display: flex;
}
.MuiFormControl-root.MuiTextField-root {
   width: 100%;
}

.d-flex {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}
.w-100{
   width: 100%;
}
.subcheck {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 6px 30px;
}
.title-heading{
   font-family: normal;
}
.w-50{
   width: 50%;
}
.col-1 input{
   padding: 9px 14px;
}